<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <meta name="author" content="Elías L">
    <!-- Hojas de estilos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-nav">
        <img src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre">
        
            <div  class="barra-busqueda">
                <form  action="../../form-result.php" method="post" target="_blank">

                    <p><input type="search" name="busquedam" placeholder="Buscar productos, marcas">
                    
                    <button> <i class="fas fa-search"></i></button>
                    </p>
                </form>
            </div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas  y sin tarjeta de crédito</h2>
        </div>
      
        <a href="#" class="hamburger-button">
            
        <i class="fas fa-bars "></i>
        </a>    
        <nav class="main-navbar">
            <ul class=" nav-left">
                <li><a href ="#">Ofertas</a></li>
                <li><a href ="#">Tiendas oficiales</a></li>
                <li><a href ="#">Vender</a></li>
                <li><a href ="#">Ayuda</a></li>
            </ul>
       
            <ul class=" nav-right">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        

        
    </header>
    <main>
        <section class="register-style">
            <h2>Formulario de registro</h2>
            <form action="/" method="POST">
                <div>
                    <p><label for="nombre"></label></p>
                    <p><input class="form-box" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido"></p>
                </div>
                <div>
                <p><label for="usuario"></label></p>
                <p><input class="form-box" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario"></p>
                </div>

                <div>
                    <p><label for="email"></label></p>
                    <p><input class="form-box"type="email" name="email" id="email" placeholder="Correo electrónico"></p>

                </div>
                <div>
                <p><label for="nacimiento">Fecha de nacimiento:</label></p>
                <p><input class="form-box" type="date" name="nacimiento" id="nacimiento"></p>
                </div>
                <div>
                <p><label for="domicilio"></label></p>
                <p><input class="form-box" type="text" name="domicilio" id="domicilio" placeholder="Domicilio"></p>
                </div>
                <div>
                    <p><label for="perfil">Perfil de usuario:</p>
                        <div class="profile-box">
                            <p><input type="radio" name="perfil" value="Comprador">Comprador</p>
                            <p><input type="radio" name="perfil" value="Vendedor">Vendedor</p>
                        </div>
                        </label>
                </div>
                <div class="interest-box0">
                    <p><label class="interest-box1" for="categorías">Intereses:</p>
                        <div class="interest-box">
                            <p><input type="checkbox" name="categoria" id="categorías" value="Electro">Electro</p>
                            <p><input type="checkbox" name="categoria" id="categorías" value="Moda">Moda</p>
                            <p><input type="checkbox" name="categoria" id="categorías" value="Hogar">Hogar</p>
                            <p><input type="checkbox" name="categoria" id="categorías" value="Juguetería">Juguetería</p>
                            <p><input type="checkbox" name="categoria" id="categorías" value="Vida sana">Vida sana</p>
                        </div>
                    </label>
                </div>
                <div>
                    <p><label for="avatar">Foto de perfil</p>
                    <p><input class="form-box" type="file" name="avatar" accept=".jpg"></label></p>
                </div>
                <div>
                        <p><label for="password">
                            <input class="form-box" type="password" name="password" id="password" placeholder="Contraseña">
                            </label>
                        </p>
                        <p><label for="password-confirmar">
                            <input class="form-box" type="password" name="password" id="password-confirmar" placeholder="Repita su Contraseña">
                            </label>
                        </p>
                </div>
                <div>
                    <button class="button-box1" type="submit" action="/">Enviar</button>
                    <button class="button-box2" type="reset">Borrar</button>
                </div>

 
            </form>
        </section>
        
    </main>

    <footer class= "footer-style">
        <div class="footer-desktop">
            <article class= "article-style">
                <i class="fas fa-credit-card color-icon desktop"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class= "article-style">
                <i class="fas fa-gift color-icon desktop"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class= "article-style">
                <i class="fas fa-user-shield color-icon desktop"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <article class= "article-style">
            <h3 class="copy-desktop">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>

    </footer>
</body>
</html>